@media print {

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
     }

    body {
      visibility: hidden;
    }
    .result {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
    .action, #solutionTable {
      visibility: hidden;
    }
  }